:root {
  /* Colour */
  --primary-color: #1B1B1F; /* Gunmetal (Background) */
  --secondary-color: #202127; /* Onyx (Second-Background) */
  /*--accent-color: rgb(108, 174, 117); /* #6CAE75 Asparagus */
  --accent-color: rgb(204, 85, 0); /* #CC5500 Burnt Orange */
  /*--accent-color-hover: rgba(108, 174, 117, 0.8);*/
  --accent-color-hover: rgba(204, 85, 0, 0.8);
  --text-color: rgb(238, 238, 238); /* #EEEEEE Anti-Flash White */
  --text-color-hover: rgba(238, 238, 238, 0.8);
  /* Font related variables */
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

  --nav-height: 4rem; /* 64px */
  --logo-height: 40px;

  --layout-width: 80rem; /* 1280px */
  --hero_height: 400px;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

body {
  background-color: var(--primary-color);
}

h2 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
}

.logo {
  cursor: pointer;
}

.nav-links li {
  display: inline-block;
  padding: 0px 50px;
}

.nav-links li a {
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.nav-links li a:hover {
  color: var(--text-color-hover)
}

button, .button {
  padding: 9px 25px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

button:hover {
  background-color: var(--accent-color-hover);
}

.hero_content {
  width: 100%;
}